/* #randomStartNumber {
    background: red;
}

#totalScore {
    background: blue;
}

#totalWins{
    background: green;
}

#totalLosses {
    background: purple;
} */

.img-thumbnail {
    max-width: 200px;
}